body {
	background-color: #E0EBF5;
	background-image: url("../images/background.jpg");
    background-size: cover; 
    background-position: top center;
    background-repeat: no-repeat;
	margin: 0;
}

.main {
	min-height: 105vh; 
}

.navbar {
	background-color: #D2E1EB;
	position: fixed;
	width: 100%;
}

.navbar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    
	list-style-type: none;
    display: flex;
    justify-content: center;
}

.navbar a {
	color: #2C3E50;
	font-family: 'Montserrat', sans-serif;
	display: block;
	margin: 10px 5vw;
	text-decoration: none;
    transition: color 0.25s;
}

.navbar a:hover {
	color: #C76B6B;
}

h1 {
	font-family: Verdana, sans-serif;
}

p {
	font-family: Tahoma, sans-serif;
}

.imgtext {
	display: flex;
	padding: 20px;
	margin: 0 auto; 
}

.imgtext .img-frame {
	border: 10px solid #cfd6e3; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 15%;
    margin-right: 10%;
    flex-shrink: 0;
	width: 18%;
}

.imgtext .img-frame img {
	display: block; 
	width: 100%;
}